// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  h1 {
    margin: 5px;
    margin-left: 0;
    padding-bottom: 0.5em;
    border-bottom: 3px dotted #000055;
    color: #037;
    font: 150% sans-serif;
  }

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #0077aa;
    min-height: 120px;
    img {
      width: 200px;
      margin-right: 5px;
      margin-bottom: 5px;
      float: left;
    }
  }

  h3 {
    font: 120% sans-serif;
    margin: 0 100px 2px 0;
    color: #037;
  }

  p, div.price_line {
    margin: 0.5em 100px 0.8em 0;
  }

  .price {
    color: #b8860b;
    font-weight: bold;
    margin-right: 3em;
    float: left;
  }

  .button_to {
    input {
      border: #005;
      background: #037;
      color: #fff;
    }
  }
}
